<h1>Listing seats</h1>




<div id="divMain">  
<div id="divMainContent">


<div class="seating">Seating Chart
<hr/>

<table>
<tbody>
<tr><th colspan="8">
	<div class="ProfSeat">
	<p class="SeatTakenHeading">Professor</p>
	<a title="Seat Reserved for Professor" href=""><p class="SeatDetail"><strong>Prof. Avery</strong> </p></a> </div>
</th></tr>
<tr>
    <% @seats.each do |seat| %>
       <% if @counter > 7  %>
         <% @counter=0 %>
	  </tr><tr>
	<% end %>
	<td>
		<% if seat.user  %><div class="SeatTaken">
		<p class="SeatTakenHeading"><%= seat.id%></p>
		<a title="Seat Taken By: <%= seat.user.fname %>" href=""><p class="SeatDetail"><strong><%= seat.user.fname %> <%= seat.user.lname %> </strong> </p></a>
		<a title="Chat with <%= seat.user.fname %>" href=""><p class="SeatDetail">Chat</p></a> </div>
		<% else %>
		<div class="SeatOpen">
		<p class="SeatOpenHeading"><%= seat.id%></p>
		<p class="SeatDetail"><a title="Occupy Seat:<%= seat.id%>" href=""><%= button_to "Sit", :action => "sit", :id => seat.id %> </p></a>
		</div>
		<% end %> 
	</td>
    <% @counter+=1 %>
    <% end %>
</tbody>
</table> <br/><br/>
</div>


<h1>Classroom Chat Box</h1><br/>
<%= form_tag ("/messages/create/1") do %>
  <p> <%= @gconversation %> </p>
  <%= text_area_tag(:g_message_output, @gconversation, :size=>"75x10", :readonly=>"readonly") %>
  <br/>
  <%= text_area_tag(:g_message, "", :size=>"75x10") %>
  
  <div class="actions">
    <%= submit_tag(:Send) %>
  </div>
<% end %>


<br/>
<br/>















